@{
    ViewData["Title"] = "Home Page";
}

<h3>Call API as Client</h3>

@if (!Startup.UseDPoP)
{
    <a asp-controller="Home" asp-action = "CallApiAsClientExtensionMethod" > Extension method </a> 
    @("|")
}
<a asp-controller="Home" asp-action="CallApiAsClientFactory">HTTP client factory</a> 
@("|")
<a asp-controller="Home" asp-action="CallApiAsClientFactoryTyped">HTTP client factory (typed)</a>
@("|")
<a asp-controller="Home" asp-action="CallApiAsClientResourceIndicator">Use resource indicator</a>
