@{
    ViewData["Title"] = "Home Page";
}

<h3>Call API as Client</h3>

<a href="./home/CallApiAsClientExtensionMethod">Extension method</a>
|
<a href="./home/CallApiAsClientFactory">HTTP client factory</a>
|
<a href="./home/CallApiAsClientFactoryTyped">HTTP client factory (typed)</a>


