<AuthorizeView>
    <Authorized>
       <strong>Hello, @context.User.Identity!.Name</strong>
        <a href="Account/LogOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/LogIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>